<section class="span12">
	<h2 class="page-title">Sobre</h2>
	<p>Cursando Sistemas para Internet pelo CEFET-RJ, 
	trabalha como desenvolvedor de software desde 2010, desenvolvendo sistemas com Java. 
	Atualmente vem estudando Arquiteturas em Java e Desenvolvimento Mobile.  </p>
	<h3>Experiências</h3>
	<ul> 
		<li>
			<h4><a href="http://stefanini.com/br/" target="blank">Stefanini</a> : <em>Desenvolvedor Java</em>
			</h4>
			<p>Desenvolvendo software na linguaguem java ,
			 utilizando a plataforma JEE, com as seguintes tecnologias:
			  <a href="http://www.jboss.org/" target="blank"> Jboss</a>, <a href="https://javaserverfaces.java.net/" target="blank"> JSF</a>, <a href="http://richfaces.jboss.org/" target="blank"> RichFaces</a> ,<a href="http://seamframework.org/" target="blank"> SEAM</a>,<a href="http://hibernate.org/" target="blank"> Hibernate</a>, <a href="http://www.oracle.com/technetwork/java/javaee/tech/persistence-jsp-140049.html" target="blank"> JPA</a>, <a href="http://projects.spring.io/spring-framework/" target="blank"> Spring</a>, <a href="http://struts.apache.org/release/2.3.x/" target="blank"> Struts 2</a>.
			</p> 
		</li>	
		<li>
			<h4><a href="http://www.mestrainfo.com.br/site/index.php" target="blank">Mestra Informática</a> : <em>Programador Java</em>
			</h4>
			<p>Desenvolvimento de sistemas de previdência privada na plataforma Java EE, utilizando o Framework <a href="http://www.powerlogic.com.br/" target="blank">JCompany da PowerLogic </a> , <a href="http://struts.apache.org/release/1.2.x/" target="blank">Struts 1.2</a>, <a href="http://hibernate.org/" target="blank">Hibernate</a>, <a href="https://community.jaspersoft.com/project/ireport-designer">iReport</a>.
			</p> 
		</li>
		<li>
			<h4><a href="http://www.totvs.com/" target="blank">TOTVS</a> : <em>Analista desenvolvedor</em>
			</h4>
			<p>Customizações do Sistemas Protheus utilizando a Linguagem de programação <a href="http://tdn.totvs.com/pages/viewpage.action?pageId=27675886" target="blank">ADVPL(Advanced Protheus Language)</a> no ambiente de desenvolvimento Eclipse , análise e levantamento de requisitos e PL/SQL.
			</p> 
		</li>	
		<li>
			<h4><a href="http://www.decatron.com.br/" target="blank">Decatron</a> : <em>Analista de Sistemas</em>
			</h4>
			<p>
				Desenvolvimento de Sistemas Web e soluções corporativas na plataforma JavaEE utilizando alguns frameworks como <a href="https://javaserverfaces.java.net/" target="blank"> JSF</a> e <a href="http://www.vraptor.org/pt/" target="blank">Vraptor</a> , análise de sistemas orientado à objeto, administração de sistemas Windows/Linux, testes de funcionalidades , reuniões internas exigidas pelo processo SCRUM.
			</p> 
		</li>	
	</ul>
	<h3>Cursos Livres</h3>
	 <h4><a href="http://www.alura.com.br/cursos-online-front-end#angularjs" target="blank">AngularJS: o framework MVC da Google - Alura </a></h4>
	 <h4><a href="http://www.alura.com.br/" target="blank">Struts 2: a evolução de um padrão - Alura </a></h4>
	 <h4><a href="http://www.alura.com.br/cursos-online-java#design-patterns" target="blank">Design Patterns para Bons Programadores - Alura </a></h4>
	 <h4><a href="http://www.infnet.edu.br/training/cursos/java/formacao/desenvolvedor-java" target="blank">Desenvolvedor Java : Instituto Infnet </a></h4>
	
	<h4>
		<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'danielviana'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
	
	</h4>
</section>

