<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
<welcome-file-list>
	<welcome-file>index.html</welcome-file>
</welcome-file-list>

<context-param>    
   <param-name>ApplicationConsumer</param-name>
   <param-value>br.gov.ancine.ws.restservice.core.consumer.core.listener.contextParameter.ApplicationConsumer</param-value>
</context-param>

<context-param>    
   <param-name>package-consumer</param-name>
   <param-value>br.com.consumer</param-value>
</context-param>

<listener>
    <listener-class>br.gov.ancine.ws.restservice.core.consumer.core.listener.ConsumerApplicationListener</listener-class>
</listener>

</web-app>
